{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="archive-heading">#{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

{{ $paginator := .Paginate $pages }}<!---->
{{ $groups := $paginator.Pages.GroupByDate "2006" }}<!---->

<div class="archive not-prose">
  {{ range $groups }}
  <section class="year">
    <h2>{{ .Key }}</h2>
    <ol>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
          <span class="t">{{ .Title }}</span>
        </a>
      </li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</div>

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-16 flex not-prose">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
