/* Place custom css here. */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Source Sans Pro', 'Open Sans', sans-serif;
}

article {
    line-height: 1.5;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'PT Sans', Ubuntu, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.18rem;
}

.btn {
  border-radius: 0px;
  background-color: rgb(255 255 255);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(0 0 0);
  text-decoration-line: none;
  box-shadow: unset;
}

.prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.my-10 {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

article code {
  font-size: .99rem!important;
  font-family: 'JetBrains Mono', monospace;
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  font-size: 0.875em;
  font-family: 'JetBrains Mono', monospace;
}
