/* Place custom css here. */
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi', 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Source Sans Pro', 'Open Sans', sans-serif;
}

article {
    line-height: 1.5;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'PT Sans', Ubuntu, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
  border-radius: 0px;
  background-color: rgb(255 255 255);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(0 0 0);
  text-decoration-line: none;
}
